.custom-select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: fit-content;

  &__btn {
    display: flex;
    align-items: baseline;
    gap: 15px;
    padding: 10px 15px;
    color: $text-color;
    background-color: #ffffff4b;
    border: 2px solid $border-color;
    border-radius: 5px;
    transition: all 0.2s linear;
    font-weight: 500;

    &_active {
      cursor: pointer;
      transition: all 0.2s linear;
      border-color: $primary-color;
      color: $primary-color;

      .arrow {
        transition: 0.2s linear;
        transform: rotate(225deg);
        border-color: $primary-color;
      }
    }

    &:hover {
      cursor: pointer;
      transition: all 0.2s linear;
      border-color: $primary-color;
      color: $primary-color;

      .arrow {
        transition: 0.2s linear;
        // transform: rotate(225deg);
        border-color: $primary-color;
      }
    }
  }

  &__title {
    font-size: 15px;
    padding-right: 10px;
  }
}

.custom-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff4b;
  border: 2px solid $border-color;
  border-radius: 5px;
  padding: 0px 10px;
  overflow: hidden;

  &_disabled {
    display: none;
  }

  &__item {
    width: 100%;
    display: block;
    font-size: 13px;
    padding: 10px 10px 10px 15px;
    transition: 0.2s linear;
    color: $text-color;
    font-size: 15px;

    &:not(:last-child) {
      border-bottom: 2px solid $border-color;
    }

    &:hover {
      transition: 0.2s linear;
      cursor: pointer;
      color: white;
      background-color: $primary-color;
    }
  }
}
