.custom-radioBtn {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid $border-color;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s linear;
  cursor: pointer;

  &:checked::before {
    transition: 0.2s linear;
    background-color: $primary-color;
  }

  &:checked {
    transition: 0.2s linear;
    border: 2px solid $primary-color;
  }
}

.custom-radioBtn::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
