.custom-btn {
  height: 40px;
  background-color: $btn-color;
  font-weight: bold;
  color: white;
  border: 2px solid $border-color;
  border-radius: 5px;
  transition: 0.3s linear;

  &:hover {
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: $primary-color;
  }

  &_secondary {
    background-color: #ffffff5b;
    font-weight: bold;
    color: $text-color;
    padding: 10px 25px;
    border: 2px solid $border-color;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      transition: box-shadow 0.2s ease-in-out;
      background-color: transparent;
      box-shadow: $main-shadow;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.4;
    }
  }
}
