/*IMPORTS*/
.wrapper {
  margin: 0px 15px;
  min-height: 100vh;
}

@media (max-device-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 60px) !important;
  }
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logotype {
  max-width: 120px;
}

.footer_sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;
}
.footer_sign-page__img {
  max-width: 50px;
}
.footer_sign-page__supportLink {
  text-align: center;
}
.footer_sign-page__copyright {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.login-form__img {
  align-self: center;
}
.login-form__title {
  align-self: center;
}
.login-form__recovery-password {
  align-self: center;
}

.wrapper_login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reset-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.reset-form__img {
  align-self: center;
}
.reset-form__title {
  align-self: center;
}
.wrapper_dashboard {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  margin: 0;
  background-color: #f5f5f5;
}

.aside {
  border-right: 1px solid rgb(233, 233, 233);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
  gap: 30px;
}
.aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.aside-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.aside-menu-toggle {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px 5px 2px 5px;
  cursor: pointer;
}
.aside-menu-toggle__img {
  width: 40px;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aside-menu__item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.aside-menu__icon {
  width: 30px;
}
@media (min-width: 769px) {
  .aside_closed {
    min-width: 50px;
    width: 50px;
  }
  .aside_closed .aside__header {
    justify-content: center;
  }
  .aside_closed .aside-logo {
    display: none;
  }
  .aside_closed .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside_closed .aside-menu-toggle__img {
    transform: scale(-1, 1);
  }
  .aside_closed .aside-menu__item span {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper_dashboard {
    grid-template-columns: auto;
    gap: 40px;
  }
  .aside {
    padding: 20px 15px;
  }
  .aside {
    border-right: 0;
    border-bottom: 1px solid rgb(233, 233, 233);
    min-width: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aside-menu__item {
    padding: 20px;
  }
  .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside-menu-toggle__img {
    transform: rotate(90deg);
  }
  .aside_closed .aside-menu-toggle__img {
    transform: rotate(-90deg);
  }
  .aside_closed .aside-menu {
    display: none;
  }
}
@media (max-width: 230px) {
  .aside-menu-toggle {
    width: -webkit-fill-available;
  }
  .aside-logo {
    flex-direction: column;
  }
  .aside__header {
    flex-direction: column;
  }
  .aside-menu__item {
    justify-content: center;
  }
  .aside-menu__item span {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */