/*IMPORTS*/
.wrapper {
  margin: 0px 15px;
  min-height: 100vh;
}

@media (max-device-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 60px) !important;
  }
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logotype {
  max-width: 120px;
}

.footer_sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;
}
.footer_sign-page__img {
  max-width: 50px;
}
.footer_sign-page__supportLink {
  text-align: center;
}
.footer_sign-page__copyright {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.login-form__img {
  align-self: center;
}
.login-form__title {
  align-self: center;
}
.login-form__recovery-password {
  align-self: center;
}

.wrapper_login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reset-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.reset-form__img {
  align-self: center;
}
.reset-form__title {
  align-self: center;
}
.aside {
  border-right: 1px solid rgb(233, 233, 233);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
  gap: 30px;
}
.aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.aside-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.aside-menu-toggle {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px 5px 2px 5px;
  cursor: pointer;
}
.aside-menu-toggle__img {
  width: 40px;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aside-menu__item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.aside-menu__icon {
  width: 30px;
}
.wrapper_dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  background-color: #f5f5f5;
}

.dashboard-content-container {
  background-color: rgb(216, 225, 236);
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .aside_closed {
    min-width: 50px;
    width: 50px;
  }
  .aside_closed .aside__header {
    justify-content: center;
  }
  .aside_closed .aside-logo {
    display: none;
  }
  .aside_closed .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside_closed .aside-menu-toggle__img {
    transform: scale(-1, 1);
  }
  .aside_closed .aside-menu__item span {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper_dashboard {
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }
  .aside {
    padding: 20px 15px;
  }
  .aside {
    border-right: 0;
    border-bottom: 1px solid rgb(233, 233, 233);
    min-width: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aside-menu__item {
    padding: 20px;
  }
  .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside-menu-toggle__img {
    transform: rotate(90deg);
  }
  .aside_closed .aside-menu-toggle__img {
    transform: rotate(-90deg);
  }
  .aside_closed .aside-menu {
    display: none;
  }
}
@media (max-width: 230px) {
  .aside-menu-toggle {
    width: -webkit-fill-available;
  }
  .aside-logo {
    flex-direction: column;
  }
  .aside__header {
    flex-direction: column;
  }
  .aside-menu__item {
    justify-content: center;
  }
  .aside-menu__item span {
    display: none;
  }
}
.search-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .custom-table_student-list th:first-child,
  .custom-table_student-list th:last-child {
    display: table-cell;
  }
  .custom-table_student-list th:not(:first-child):not(:last-child) {
    display: none;
  }
}
.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.schedule__item {
  background-color: rgb(255, 247, 241);
  border-radius: 10px;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
}
.schedule__title {
  text-align: center;
}

@media (max-width: 800px) {
  .schedule {
    grid-template-columns: 1fr;
  }
}
.found-materials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.found-materials__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(138, 138, 138);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}
.found-materials__info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.found-materials__info_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.found-materials__btns {
  display: flex;
  gap: 10px;
}
.found-materials__btn img {
  cursor: pointer;
}
@media (max-width: 400px) {
  .found-materials__btns {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .found-materials__info {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
}
.homeworks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.homeworks__item {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 243, 235);
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}
.homeworks__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: balance;
}
.homeworks__text {
  margin-bottom: 5px;
  text-align: justify;
  text-wrap: balance;
}
.homeworks__files {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .homeworks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .homeworks {
    grid-template-columns: 1fr;
  }
}
.custom-table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.custom-table tr {
  background-color: rgb(211, 211, 211);
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.custom-table thead tr {
  cursor: default;
}
.custom-table tr th {
  padding: 15px;
  vertical-align: middle;
}
.custom-table tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.custom-table tr th:last-child {
  border-radius: 0 10px 10px 0;
}/*# sourceMappingURL=main.css.map */