@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

<h1>Расписание</h1>
<div class="search-row">
    <span>Текущая дата: 13 апреля</span>
    <button id="previousWeekBtn">Назад</button>
    <input type="week" id="weekInput">
    <button id="nextWeekBtn">Вперед</button>
    <button id="showScheduleBtn">Показать расписание</button>
</div>
<div class="calendar">
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Понедельник</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Вторник</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Среда</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Четверг</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Пятница</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Суббота</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
    <div class="calendar-item">
        <h3 id="calendar-item_title"><span id="calendar-item_day"></span> Воскресенье</h3>
        <div class="calendar-item_events">
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
            <div class="calendar-item_event-item">
                <p id="calendar-item_course">Информационные технологии</p>
                <p id="calendar-item_squad">ЩПКО-01-20</p>
                <p id="calendar-item_timeline">9:00 - 10:30</p>
                <p id="calendar-item_place">Кабинет 301</p>
            </div>
        </div>
    </div>
</div>

<script src="~/js/schedule.js"></script>