@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

@model StudentsPageViewModel

<main class="main dashboard-content-container">
    <h1 class="title">Список студентов</h1>
    <div class="search-row">
        @*     <input type="search" class="custom-input search-input" placeholder="Поиск студентов"> *@

        <div onclick="selectHandler(this)" class="custom-select" id="filter-select" data-target="none">
            <button class="custom-select__btn">
                <span class="custom-select__title">Поисковый фильтр</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="searchAllStudents">Все студенты</li>
                <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="searchBySquads">По группам</li>
                <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="searchByCourses">По курсам</li>
            </ul>
        </div>

        <div onclick="selectHandler(this)" class="custom-select" id="group-select" data-target="none" style="display:none">
            <button class="custom-select__btn">
                <span id="group-title" class="custom-select__title">Выберите группу</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                @foreach (var item in Model.squadsList)
                {
                    <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="@item.OptionValue">@item.SquadName</li>
                }
            </ul>
        </div>

        <div onclick="selectHandler(this)" class="custom-select" id="course-select" data-target="none" style="display:none">
            <button class="custom-select__btn">
                <span id="course-title" class="custom-select__title">Выберите курс</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                @foreach (var item in Model.coursesList)
                {
                    <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="@item.OptionValue">@item.CourseName</li>
                }
            </ul>
        </div>
        <button class="custom-btn_secondary" id="downloadExcelTable" disabled>Сохранить в формате Excel</button>
        <button class="custom-btn_secondary" id="downloadPdfTable" disabled>Сохранить в формате PDF</button>
    </div>

    <button class="custom-btn_secondary search-row__btn">Найти</button>
    <table class="custom-table custom-table_student-list" id="studentsTable">
        <thead>
            <tr>
                <th scope="col">Номер</th>
                <th scope="col">ФИО</th>
                <th scope="col">Средняя оценка</th>
                <th scope="col">Дата рождения</th>
            </tr>
        </thead>
        <tbody id="tableContentContainer">
        </tbody>
        <tfoot>
            <tr>
                <th id="students-col-span" scope="row" colspan="3">Количество студентов</th>
                <th id="students-count">0</th>
            </tr>
        </tfoot>
    </table>
</main>
<script src="~/js/outerJS/xlsx.full.min.js"></script>
<!-- pdfmake files: -->
<script src="~/js/outerJS/pdfmake.min.js"></script>
<script src="~/js/outerJS/vfs_fonts.min.js"></script>
<!-- html-to-pdfmake file: -->
<script src="~/js/outerJS/browser.js"></script>
<script src="~/js/students.js"></script>