@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

@model StudentsPageViewModel

<h1 class="title">Список студентов</h1>
<div class="search-row">
    <input type="search" class="custom-input search-input" placeholder="Поиск студентов">
    <select name="filterSelector">
        <option value="searchAllStudents">Все студенты</option>
        <option value="searchBySquads">По группам</option>
        <option value="searchByCourses">По курсам</option>
    </select>
    <select name="courseSelector" class="search-row__filter search-row__filter_courses" style="display:none">
        @foreach (var item in Model.coursesList)
        {
            <option value="@item.OptionValue">@item.CourseName</option>
        }
    </select>
    <select name="groupSelector" class="search-row__filter search-row__filter_student-groups" style="display:none">
        @foreach (var item in Model.squadsList)
        {
            <option value="@item.OptionValue">@item.SquadName</option>
        }
    </select>
    <button class="custom-btn search-row__btn">Найти</button>
</div>
<table class="custom-table custom-table_student-list">
    <thead>
        <tr style="background-color: transparent">
            <th scope="col">Номер</th>
            <th scope="col">ФИО</th>
            <th scope="col">Средняя оценка</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Подробнее</th>
        </tr>
    </thead>
</table>
<button class="custom-btn">Сохранить в формате PDF</button>
<script src="~/js/students.js"></script>