@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

@model StudentsPageViewModel

<main class="main dashboard-content-container">
<h1 class="title">Список студентов</h1>
<div class="search-row">
@*     <input type="search" class="custom-input search-input" placeholder="Поиск студентов"> *@
    <select name="filterSelector">
        <option value="searchAllStudents">Все студенты</option>
        <option value="searchBySquads">По группам</option>
        <option value="searchByCourses">По курсам</option>
    </select>
    <select name="courseSelector" class="search-row__filter search-row__filter_courses" style="display:none">
        @foreach (var item in Model.coursesList)
        {
            <option value="@item.OptionValue">@item.CourseName</option>
        }
    </select>
    <select name="groupSelector" class="search-row__filter search-row__filter_student-groups" style="display:none">
        @foreach (var item in Model.squadsList)
        {
            <option value="@item.OptionValue">@item.SquadName</option>
        }
    </select>
    <button class="custom-btn search-row__btn">Найти</button>
    <button class="custom-btn" id="downloadExcelTable" disabled="true">Сохранить в формате Excel</button>
    <button class="custom-btn" id="downloadPdfTable" disabled="true">Сохранить в формате PDF</button>
</div>
<table class="custom-table custom-table_student-list" id="studentsTable">
    <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">ФИО</th>
            <th scope="col">Средняя оценка</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Подробнее</th>
        </tr>
    </thead>
    <tbody id="tableContentContainer">

    </tbody>
    <tfoot>
        <tr>
            <th id="students-col-span" scope="row" colspan="4">Количество студентов</th>
            <th id="students-count">0</th>
        </tr>
    </tfoot>
</table>
</main>
<script src="~/js/outerJS/xlsx.full.min.js"></script>
<!-- pdfmake files: -->
<script src="~/js/outerJS/pdfmake.min.js"></script>
<script src="~/js/outerJS/vfs_fonts.min.js"></script>
<!-- html-to-pdfmake file: -->
<script src="~/js/outerJS/browser.js"></script>
<script src="~/js/students.js"></script>