.custom-table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1em;

  tr {
    background-color: $back-color;
    text-align: center;
    border-radius: 15px;
  }

  tr th {
    padding: 15px;
    vertical-align: middle;

    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}

@media (max-width: 600px) {
  .custom-table_student-list {
    th:first-child,
    th:last-child {
      display: table-cell;
    }

    th:not(:first-child):not(:nth-child(2)) {
      display: none;
    }

    th:nth-child(2) {
      border-radius: 0 10px 10px 0;
    }
  }
}
