.custom-textArea {
  padding: 10px;
  border: 2px solid $border-color;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit !important;
  color: $text-color;
  transition: 0.2s ease-in-out;
  background-color: $back-color;

  &:focus {
    outline: none;
    transition: 0.2s ease-in-out;
    border: 2px solid $primary-color;
    color: $primary-color;

    &::placeholder {
      color: $primary-color;
    }
  }
}
