<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper wrapper_dashboard">
        <aside class="aside">
            <div class="aside__header">
                <div class="aside-logo">
                    <img style="width: 50px;" src="~/icons/common-icons/logoUntitled.svg" alt="logotype"
                         class="aside-logo__img">
                    <span class="aside-logo__title">УМДО</span>
                </div>
                <div class="aside-menu-toggle">
                    <img src="~/icons/common-icons/arrow-icon.svg" alt="arrow-hide-open" class="aside-menu-toggle__img">
                </div>
            </div>
            <nav class="aside-menu">
                <ul class="aside-menu__list">
                    <li data-path="profile">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="profile">
                            <img src="~/icons/aside-menu-icons/profile-icon.svg" alt="profile-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Профиль</span>
                        </a>
                    </li>
                    <li data-path="students">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="students">
                            <img src="~/icons/aside-menu-icons/student-icon.svg" alt="student-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Список студентов</span>
                        </a>
                    </li>
                    <li data-path="schedule">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="schedule">
                            <img src="~/icons/aside-menu-icons/schedule-icon.svg" alt="schedule-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Расписание</span>
                        </a>
                    </li>
                    <li data-path="homeworks">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="homeworks">
                            <img src="~/icons/aside-menu-icons/homework-icon.svg" alt="homework-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Домашние задания</span>
                        </a>
                    </li>
                    <li data-path="materials">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="materials">
                            <img src="~/icons/aside-menu-icons/materials-icon.svg" alt="materials-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Материалы</span>
                        </a>
                    </li>
                    <li data-path="attendance">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="attendance">
                            <img src="~/icons/aside-menu-icons/attendance-icon.svg" alt="attendance-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Учет посещаемости</span>
                        </a>
                    </li>
                    <li data-path="analytics">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="analytics">
                            <img src="~/icons/aside-menu-icons/analytics-icon.svg" alt="analytics-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Аналитика</span>
                        </a>
                    </li>
                    <li data-path="techSupport">
                        <a class="aside-menu__item" asp-controller="dashboard" asp-action="techSupport">
                            <img src="~/icons/aside-menu-icons/tech-support-icon.svg" alt="tech-support-icon" class="aside-menu__icon">
                            <span class="aside-menu__span">Техническая поддержка</span>
                        </a>
                    </li>
                    <li>
                        <form asp-controller="Auth" asp-action="Logout" asp-antiforgery="false" method="post">
                            <button style="width:100%" type="submit">
                                <img src="~/icons/aside-menu-icons/exit-icon.svg" alt="exit-icon" class="aside-menu__icon">
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main dashboard-content-container">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("JavaScript", required: false)
</body>
</html>
