<form action="#!" class="reset-form reset-form_password-changed-content">
  <img src="../icons/example_logo.svg" alt="logotypeImg" class="logotype reset-form__img">
  <h1 class="reset-form__title">Восстановление пароля</h1>
  <div class="reset-form__info">
    <h3 class="reset-form__message reset-form__message_success">Пароль успешно сменен, чтобы войти, используя
      новый пароль, нажмите на кнопку "Войти" внизу</h3>
  </div>
  <button type="submit" class="custom-btn reset-form__signIn-btn">Войти</button>
</form>