<form action="#!" class="reset-form reset-form_error-content">
  <img src="../icons/example_logo.svg" alt="logotypeImg" class="logotype reset-form__img">
  <h1 class="reset-form__title">Восстановление пароля</h1>
  <div class="reset-form__info">
    <h3 class="reset-form__message reset-form__message_error">Такого аккаунта не существует, введите корректную
      почту в поле снизу</h3>
  </div>
  <input type="email" class="custom-input reset-form__input_email" placeholder="Электронная почта" />
  <button type="submit" class="reset-form__send-code-btn">Отправить код</button>
</form>