<form action="#!" class="reset-form reset-form_success-content">
  <img src="../icons/example_logo.svg" alt="logotypeImg" class="logotype reset-form__img">
  <h1 class="reset-form__title">Восстановление пароля</h1>
  <div class="reset-form__info">
    <h3 class="reset-form__message eset-form__message_success">Временный код для восстановления пароля был выслан на
      Вашу электронную почту,
      введите его в поле ниже</h3>
  </div>
  <input type="number" class="custom-input reset-form__input_reset-code" placeholder="Код восстановления" />
  <input type="text" class="custom-input reset-form__input_password" placeholder="Новый пароль" />
  <a href="#!" class="reset-form__send-message-again">Отправить код заново (интервал - 5 минут)</a>
  <button type="submit" class="reset-form__reset-password-btn">Сбросить пароль</button>
</form>