@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

@model HomeworksPageViewModel

<main class="main dashboard-content-container">
    <h1 class="title">Домашние задания</h1>
    <div class="search-row">
        <div onclick="selectHandler(this)" class="custom-select" id="filter-select" data-target="none">
            <button class="custom-select__btn">
                <span class="custom-select__title">Поисковый фильтр</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                <li class="custom-options__item" onclick="selectOptionHandler(this, true)" data-value="searchBySquads">По группам</li>
                <li class="custom-options__item" onclick="selectOptionHandler(this, true)" data-value="searchByCourses">По курсам</li>
            </ul>
        </div>

        <div onclick="selectHandler(this)" class="custom-select" id="group-select" data-target="none" style="display:none">
            <button class="custom-select__btn">
                <span class="custom-select__title">Выберите группу</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                @foreach (var item in Model.squadsList)
                {
                    <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="@item.OptionValue">@item.SquadName</li>
                }
            </ul>
        </div>

        <div onclick="selectHandler(this)" class="custom-select" id="course-select" data-target="none" style="display:none">
            <button class="custom-select__btn">
                <span class="custom-select__title">Выберите курс</span>
                <i class="arrow arrow_down"></i>
            </button>
            <ul class="custom-options custom-options_disabled">
                @foreach (var item in Model.coursesList)
                {
                    <li class="custom-options__item" onclick="selectOptionHandler(this)" data-value="@item.OptionValue">@item.CourseName</li>
                }
            </ul>
        </div>
        <form id="addHomeworkForm" method="get" asp-action="AddHomework">
            <button type="submit" class="custom-btn_secondary" id="add-homework-btn">Выдать Д/З</button>
        </form>
        <button type="button" class="custom-btn_secondary" id="refresh-btn">Обновить список</button>
    </div>
    <button id="search-btn" class="custom-btn_secondary search-row__btn">Найти</button>
    <div class="homeworks"></div>
</main>
<script src="~/js/homeworks.js"></script>