html {
  font-family: $main-font;
  font-size: 15px;
  font-weight: 400;
  color: $text-color !important;
}

body {
  background-color: $bg-color;
}

.wrapper {
  margin: 0px 15px;
  min-height: 100vh;
}

@media (max-device-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 60px) !important;
  }
}

.custom-input {
  height: 30px;
  padding: 5px 10px;
  background-color: transparent !important;
  border-radius: 5px;
  border: 2px solid $border-color;
  transition: 0.2s ease-in-out;
  box-shadow: inset 20px 20px 0px 20px transparent;

  &:focus {
    transition: 0.2s ease-in-out;
    border: 2px solid $primary-color;
    color: $primary-color;
    &::placeholder {
      color: $primary-color;
    }
  }

  &_errored {
    border: 2px solid red;
    color: red;
    &:focus {
      transition: 0.2s ease-in-out;
      border: 2px solid red;
      color: red;
      &::placeholder {
        color: red;
      }
    }
  }

  &_correct {
    border: 2px solid rgb(12, 168, 12);
    color: rgb(12, 168, 12);
    &:focus {
      transition: 0.2s ease-in-out;
      border: 2px solid rgb(12, 168, 12);
      color: rgb(12, 168, 12);
      &::placeholder {
        color: rgb(12, 168, 12);
      }
    }
  }
}

.custom-link {
  transition: 0.2s linear;
  border-bottom: 1px solid transparent;
  padding: 0 0 5px;
  color: $text-color;

  &:hover {
    transition: 0.2s linear;
    color: $primary-color;
    border-bottom-color: $primary-color;
  }
}

img {
  user-select: none;
}

input {
  all: unset;
  textarea:focus,
  input:focus {
    outline: none;
    outline-width: 0;
  }

  &:disabled {
    user-select: none;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
}

.footer_sign-page {
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;

  &__img {
    max-width: 50px;
  }

  &__supportLink {
    text-align: center;
  }

  &__copyright {
    text-align: center;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

// Modal screen of items adding
.modal-addItem {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.addItemForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f0f0f0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 45px;
  gap: 20px;
  border-radius: 10px;
  margin: 15px;
}
