$main-font: "Open Sans", sans-serif;
$bg-color: #f3f4f5;
$border-color: #dee2e9;
$text-color: #364c70;
$primary-color: #128dff;
$btn-color: #1e4178;
$main-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$back-color: #e4e4e49d;
