@{
    ViewData["Title"] = "Домашняя страница";
}

<h1>Админ панель</h1>
<p>Роль пользователя: @ViewBag.Role</p>
<form asp-controller="Auth" asp-action="Logout" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>
