.homeworks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex-wrap: wrap;
    background-color: $back-color;
    border: 2px solid $border-color;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-wrap: balance;
  }

  &__description {
    text-align: justify;
    text-wrap: balance;
    padding: 10px;
    border: 2px solid $border-color;
    border-radius: 5px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
  }

  &__date {
    font-style: italic;
    padding: 10px;
    border: 2px solid $border-color;
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;

    &_add {
    }

    &_deadline {
    }
  }

  &__note {
    padding: 10px;
    border: 2px solid $border-color;
    border-radius: 5px;
  }

  &__files {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5f5f5c2;
    border: 2px solid $border-color;
    padding: 25px;
    border-radius: 10px;

    & a {
      padding: 10px;
      background-color: $back-color;
      border: 2px solid transparent;
      transition: 0.2s ease-in-out;
      border-radius: 5px;

      &:hover {
        transition: 0.2s ease-in-out;
        border: 2px solid $border-color;
      }
    }
  }
}

@media (max-width: 1024px) {
  .homeworks {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  #addHomeworkForm {
    width: 100%;
  }
}
