.login-form-container {
   display: flex;
   justify-content: center;
   flex: 1;
   min-height: 50vh;
   padding: 45px 5px;
}

.login-form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 20px;
   width: 350px;

   &__img {
      width: 160px;
      align-self: center;
   }

   &__title {
      align-self: center;
   }

   &__input {
      &_email {
      }

      &_password {
      }
   }

   &__signIn-btn {
   }

   &__recovery-password {
      align-self: center;
   }
}

.wrapper_login {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
