.wrapper_recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reset-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 400px;

  &__img {
    width: 160px;
    align-self: center;
  }

  &__title {
    align-self: center;
  }

  &__input {
    &_email {
    }

    &_reset-code {
    }

    &_password {
    }
  }

  &__info {
  }

  &__message {
    &_success {
    }

    &_error {
    }
  }

  &_send-message-again {
  }

  &__signIn-btn {
  }

  &__send-code-btn {
  }

  &__reset-password-btn {
  }
}
