<h1 class="title">Домашние задания</h1>
<div class="search-row">
  <select name="courseSelector" class="search-row__filter search-row__filter_courses">
    <option value="machineLearning">Курс "Машинное обучение"</option>
    <option value="programming">Курс "Программирование"</option>
    <option value="design">Курс "Дизайн"</option>
  </select>
  <select name="groupSelector" class="search-row__filter search-row__filter_student-groups">
    <option value="group#0120">ЩПКО-01-20</option>
    <option value="group#0420">ЩПКО-04-20</option>
    <option value="group#0320">ЩПКО-03-20</option>
  </select>
  <button class="custom-btn search-row__btn search-row__btn_find">Найти</button>
  <button class="custom-btn search-row__btn search-row__btn_create">Создать</button>
</div>

<div class="homeworks">
  <!-- Every teacher has his / her own homework-list -->
</div>
<script src="../js/homeworks.js"></script>