<h1 class="title">Профиль</h1>
<div class="personal-account-info">
  <div class="personal-account-info__block">
    <div class="personal-account-info__avatar">
      <img src="../icons/common-icons/avatar-icon.svg" alt="avatar">
    </div>
    <h3 style="text-align: center;" id="personal-account-info__name">Клочков А.В.</h3>
    <span style="text-align: center;" id="personal-account-info__post">Преподаватель программирования</span>
    <span style="text-align: center;" id="personal-account-info__rate">Рейтинг: 4.2</span>
    <hr width="100%" size="1" color="#c3c3c3" />
    <div class="personal-account-info__item" id="personal-account-info__place">
      <img src="../icons/common-icons/place-icon.svg" alt="place">
      <span>Кропоткинский пер., 80, Москва, 111636</span>
    </div>
    <div class="personal-account-info__item" id="personal-account-info__phone-number">
      <img src="../icons/common-icons/phone-icon.svg" alt="phone-number">
      <span>+7(901)-530-62-99</span>
    </div>
    <div class="personal-account-info__item" id="personal-account-info__email">
      <img src="../icons/common-icons/email-icon.svg" alt="email">
      <span>eriknikoyan555@yandex.ru</span>
    </div>
    <hr width="100%" size="1" color="#c3c3c3" />
    <ul class="social-media-list">
      <li class="social-media-list__item">
        <a href="https://vk.ru" target="_blank">
          <img src="../icons/social-media-icons/vk-icon.svg" alt="vk-icon">
        </a>
      </li>
      <li class="social-media-list__item">
        <a href="https://whatsapp.ru" target="_blank">
          <img src="../icons/social-media-icons/whatsApp-icon.svg" alt="whatsApp-icon">
        </a>
      </li>
      <li class="social-media-list__item">
        <a href="https://web.telegram.org" target="_blank">
          <img src="../icons/social-media-icons/telegram-icon.svg" alt="telegram-icon">
        </a>
      </li>
    </ul>
  </div>

  <div class="personal-account-info__block">
    <h3 style="text-align: center;">Статистика</h3>

    <div class="state-block">
      <div class="state-block__item">
        <span>Опыт работы: 12 лет</span>
      </div>
      <div class="state-block__item">
        <span>На данной платформе с: 12.02.2021</span>
      </div>
      <div class="state-block__item">
        <span>Количество студентов: 42</span>
      </div>
      <div class="state-block__item">
        <span>Количество групп: 3</span>
      </div>
    </div>

    <div class="state-block">
      <span>Прикрепленные курсы:</span>
      <ul class="courses-list">
        <li class="courses-list__item">Робототехника</li>
        <li class="courses-list__item">Программирование на C#</li>
        <li class="courses-list__item">Веб-дизайн</li>
        <li class="courses-list__item">Графический дизайн</li>
      </ul>
    </div>

    <div class="state-block">
      <span>Прикрепленные группы:</span>
      <ul class="courses-list">
        <li class="courses-list__item">ЩПКО-01-20</li>
        <li class="courses-list__item">ЩПКО-02-20</li>
        <li class="courses-list__item">ЩПКО-03-20</li>
        <li class="courses-list__item">ЩПКО-04-20</li>
      </ul>
    </div>
  </div>
</div>