<h1 class="title">Список студентов</h1>
<div class="search-row">
  <input type="search" class="custom-input search-input" placeholder="Поиск студентов">
  <select name="courseSelector" class="search-row__filter search-row__filter_courses">
    <option value="allStudents">Все курсы</option>
    <option value="machineLearning">Курс "Машинное обучение"</option>
    <option value="programming">Курс "Программирование"</option>
    <option value="design">Курс "Дизайн"</option>
  </select>
  <select name="groupSelector" class="search-row__filter search-row__filter_student-groups">
    <option value="allGroups">Все группы</option>
    <option value="group#0120">ЩПКО-01-20</option>
    <option value="group#0420">ЩПКО-04-20</option>
    <option value="group#0320">ЩПКО-03-20</option>
  </select>
  <button class="custom-btn search-row__btn">Найти</button>
</div>
<table class="custom-table custom-table_student-list">
  <thead>
    <tr style="background-color: transparent">
      <th scope="col">Номер</th>
      <th scope="col">ФИО</th>
      <th scope="col">Средняя оценка</th>
      <th scope="col">Дата рождения</th>
      <th scope="col">Подробнее</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>#101</th>
      <th>Сидоров А.В.</th>
      <th>4.2</th>
      <th>04.11.2004</th>
      <th><button class="custom-btn">Узнать</button></th>
    </tr>
    <tr>
      <th>#101</th>
      <th>Сидоров А.В.</th>
      <th>4.2</th>
      <th>04.11.2004</th>
      <th><button class="custom-btn">Узнать</button></th>
    </tr>
    <tr>
      <th>#101</th>
      <th>Сидоров А.В.</th>
      <th>4.2</th>
      <th>04.11.2004</th>
      <th><button class="custom-btn">Узнать</button></th>
    </tr>
    <tr>
      <th>#101</th>
      <th>Сидоров А.В.</th>
      <th>4.2</th>
      <th>04.11.2004</th>
      <th><button class="custom-btn">Узнать</button></th>
    </tr>
    <tr>
      <th>#101</th>
      <th>Сидоров А.В.</th>
      <th>4.2</th>
      <th>04.11.2004</th>
      <th><button class="custom-btn">Узнать</button></th>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th id="student-count" scope="row" colspan="4">Количество студентов</th>
      <!-- Put here count of students after search -->
      <th>24</th>
    </tr>
  </tfoot>
</table>
<button class="custom-btn">Сохранить в формате PDF</button>