<h1 class="title">Техническая поддержка</h1>
<h3>Часто задаваемые вопросы</h3>
<div class="questions">
</div>
<hr width="100%" size="1" color="#c3c3c3" />
<div class="question-form">
  <h3>Не нашли ответа на свой вопрос?</h3>
  <p>Опишите проблему в поле ниже и с вами обязательно свяжутся по электронной почте, указанной в профиле!</p>
  <form class="question-form__container">
    <textarea id="question-form__text" name="question" rows="10"></textarea>
    <button type="submit" class="custom-btn question-form__btn">Отправить</button>
  </form>
</div>
<script src="../js/tech-support.js"></script>