@{
    ViewData["Title"] = "Авторизация";
}

<div class="wrapper wrapper_login">
    <div class="login-form-container">
        <form action="#!" class="login-form">
            <img src="~/icons/common-icons/logo.svg" alt="logotypeImg" class="logotype login-form__img">
            <h1 class="title login-form__title">Авторизация</h1>
            <input type="email" class="custom-input login-form__input_email" placeholder="Электронная почта">
            <input type="password" class="custom-input login-form__input_password" placeholder="Пароль">
            <button type="submit" class="custom-btn login-form__signIn-btn">Войти</button>
            <a href="./recovery-password" class="login-form__recovery-password">Забыли пароль?</a>
        </form>
    </div>
    <footer class="footer footer_sign-page">
        <img src="~/icons/common-icons/logoUntitled.svg" alt="logotypeImg" class="footer_sign-page__img">
        <a href="#!" class="footer_sign-page__supportLink">Техническая поддержка</a>
        <h3 class="footer_sign-page__copyright">© 2024 Университет энергии и позитива</h3>
    </footer>
</div>