@{
    ViewData["Title"] = "Восстановление пароля";
}

<div class="wrapper wrapper_recovery">
    <div class="reset-form-container">
        <!-- Include Here Steps of reset password -->
        <form action="#!" class="reset-form reset-form_send-code-content">
            <img src="~/icons/common-icons/logo.svg" alt="logotypeImg" class="logotype reset-form__img">
            <h1 class="reset-form__title">Восстановление пароля</h1>
            <input type="email" class="custom-input reset-form__input_email" placeholder="Электронная почта" />
            <button type="submit" class="reset-form__send-code-btn">Отправить код</button>
        </form>
    </div>

    <footer class="footer footer_sign-page">
        <img src="~/icons/common-icons/logoUntitled.svg" alt="logotypeImg" class="footer_sign-page__img">
        <a href="#!" class="footer_sign-page__supportLink">Техническая поддержка</a>
        <h3 class="footer_sign-page__copyright">© 2024 Университет энергии и позитива</h3>
    </footer>
</div>