@{
    ViewData["Title"] = "Восстановление пароля";
}

<div class="wrapper wrapper_recovery">
    <div class="reset-form-container">
        <!-- Include Here Steps of reset password -->
        <form method="post" class="reset-form reset-form_send-code-content">
            <img src="~/icons/common-icons/logo.svg" alt="logotypeImg" class="logotype reset-form__img">
            <h1 class="reset-form__title title" style="text-align:center">Восстановление пароля</h1>
            <input type="email" class="custom-input reset-form__input_email" placeholder="Электронная почта" />
            <button type="submit" class="custom-btn reset-form__send-code-btn">Отправить код</button>
            <button type="button" class="custom-btn custom-btn_secondary reset-form__get-back-btn">Вернуться назад</button>
        </form>
    </div>

    <footer class="footer footer_sign-page">
        <a href="#!" class="footer_sign-page__supportLink">Техническая поддержка</a>
        <h3 class="footer_sign-page__copyright">© 2024 Университет энергии и позитива</h3>
    </footer>
</div>

<script>
    const backBtn = document.querySelector('.custom-btn_secondary');
    backBtn.addEventListener('click', async () => {
        if (history.length > 1) {
            history.back();
        }
    });
</script>