.wrapper_dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  background-color: #f5f5f5;
}

.dashboard-content-container {
  background-color: rgb(216, 225, 236);
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .aside_closed {
    @include closed-aside-desktop;
  }
}

@media (max-width: 768px) {
  .wrapper_dashboard {
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }
  .aside {
    padding: 20px 15px;
  }

  // By default
  @include opened-aside-mobile;

  // When closed
  .aside_closed {
    @include closed-aside-mobile;
  }
}

@media (max-width: 230px) {
  .aside-menu-toggle {
    width: -webkit-fill-available;
  }
  .aside-logo {
    flex-direction: column;
  }
  .aside {
    &__header {
      flex-direction: column;
    }
  }
  .aside-menu__item {
    justify-content: center;
    span {
      display: none;
    }
  }
}