.schedule {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  &__item {
    background-color: rgb(255, 247, 241);
    border-radius: 10px;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
  }
}

.custom-table_lessons-list {

}

@media (max-width: 800px) {
  .schedule {
    grid-template-columns: 1fr;
  }
}