/*IMPORTS*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #364c70 !important;
}

body {
  background-color: #f3f4f5;
}

.wrapper {
  margin: 0px 15px;
  min-height: 100vh;
}

@media (max-device-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 60px) !important;
  }
}
.custom-link {
  transition: 0.2s linear;
  border-bottom: 1px solid transparent;
  padding: 0 0 5px;
  color: #364c70;
}
.custom-link:hover {
  transition: 0.2s linear;
  color: #128dff;
  border-bottom-color: #128dff;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input {
  all: unset;
}
input textarea:focus,
input input:focus {
  outline: none;
  outline-width: 0;
}
input:disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.4;
  background-color: rgb(150, 150, 150) !important;
}
input:disabled:hover {
  cursor: not-allowed;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

.footer_sign-page {
  border-top: 1px solid #ced3db;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;
}
.footer_sign-page__img {
  max-width: 50px;
}
.footer_sign-page__supportLink {
  text-align: center;
}
.footer_sign-page__copyright {
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

h3 {
  font-weight: 600;
}

.modal-addItem {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.addItemForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f0f0f0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 45px;
  gap: 20px;
  border-radius: 10px;
  margin: 15px;
}

.arrow {
  border: solid #364c70;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: 0.2s linear;
}
.arrow_down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow_top {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow_left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 350px;
}
.login-form__img {
  width: 160px;
  align-self: center;
}
.login-form__title {
  align-self: center;
}
.login-form__recovery-password {
  align-self: center;
}

.wrapper_login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reset-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 400px;
}
.reset-form__img {
  width: 160px;
  align-self: center;
}
.reset-form__title {
  align-self: center;
}
.aside {
  max-width: 300px;
  background-color: transparent;
  border-right: 1px solid #ced3db;
  padding: 25px 5px;
  transition: transform 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}
.aside__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  height: 60px;
}

.aside_closed {
  transition: all 0.2s ease-in-out;
}
.aside_closed .aside-logo {
  display: none;
}
.aside_closed .aside__header {
  justify-content: center;
}
.aside_closed .aside-menu__span {
  display: none;
}

.aside-logo__img {
  width: 100px;
}

.aside-menu {
  padding: 0 15px;
  transition: transform 0.4s ease-in-out;
}
.aside-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.aside-menu__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border: 1px solid #ced3db;
  border-radius: 10px;
  padding: 10px 15px;
  transition: 0.2s ease-in;
}
.aside-menu__item:hover {
  transition: 0.2s ease-in;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.aside-menu__item:last-child:hover {
  cursor: pointer;
}
.aside-menu__icon {
  width: 35px;
}
.aside-menu__span {
  color: #364c70;
  font-size: 14px !important;
}

@media (max-width: 768px) {
  .aside {
    max-width: 100%;
    padding: 15px 0px !important;
  }
  .aside_closed .aside-logo {
    display: block;
  }
  .aside_closed .aside__header {
    justify-content: space-between;
  }
  .aside_closed .aside-menu {
    display: none;
  }
  .aside_closed .aside-menu__span {
    display: block;
  }
  .dashboard-content-container {
    padding: 15px 20px !important;
  }
}
.custom-hamburger {
  position: relative;
}

.hamburger-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #364c70;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  transform: rotate(45deg);
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  transform: scaleY(0);
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  transform: rotate(-45deg);
}

.wrapper_dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
}

.dashboard-content-container {
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .wrapper_dashboard {
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }
}
.personal-account-info {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 15px;
}
.personal-account-info__block {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3019607843);
  border: 1px solid #ced3db;
  border-radius: 10px;
  padding: 25px;
  gap: 15px;
}
.personal-account-info__avatar {
  background-color: rgb(199, 199, 199);
  border-radius: 50%;
  padding: 15px;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
}
.personal-account-info__avatar img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.personal-account-info__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.personal-account-info__item img {
  width: 30px;
  color: #364c70;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media-list__item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-media-list__item img {
  width: 30px;
}

.state-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0px;
}
.state-block__item {
  display: flex;
  background-color: rgba(235, 235, 235, 0.411);
  border-radius: 10px;
  padding: 15px;
}
.state-block__item > span > span {
  font-weight: 600;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.courses-list__item {
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  padding: 10px 15px;
}

@media (max-width: 1024px) {
  .personal-account-info {
    grid-template-columns: 1fr;
  }
}
.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.questions-item {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
}
.questions-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.questions-item__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.question-form__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .questions {
    grid-template-columns: 1fr;
  }
}
.search-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.search-row__btn {
  min-width: 140px;
  padding: 8px 40px !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-row__btn::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-image: url("../../icons/common-icons/search-icon.svg");
  background-size: cover;
}

.found-materials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.found-materials__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid #ced3db;
  background-color: rgba(228, 228, 228, 0.6156862745);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
  transition: 0.2s ease-in-out;
}
.found-materials__item:hover {
  transform: translateY(5px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.found-materials__info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.found-materials__info_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.found-materials__info_text span:first-child {
  font-weight: bold;
}
.found-materials__info_text span:last-child {
  line-height: 1.5;
}
.found-materials__btns {
  display: flex;
  gap: 10px;
}
.found-materials__btn img {
  cursor: pointer;
}
@media (max-width: 900px) {
  .found-materials {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .found-materials__btns {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .found-materials__info {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
}
label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.schedule {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-radius: 10px;
  gap: 5px;
}

#currentDateSpan {
  background-color: rgba(228, 228, 228, 0.6156862745);
  border-radius: 5px;
  padding: 15px;
}

#search-filter {
  align-items: center;
}

.schedule-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.schedule-item__header {
  justify-content: space-between;
}
.schedule-item__header, .schedule-item__body {
  display: flex;
  padding: 15px;
  background: rgba(255, 255, 255, 0.4196078431);
  border: 2px solid #ced3db;
  border-radius: 6px;
}
.schedule-item__body {
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
}
.schedule-item__event {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(228, 228, 228, 0.6156862745);
  opacity: 0.9;
  border-radius: 6px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.schedule-item__event:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.05);
}
.schedule-item__note {
  font-weight: 600;
}
@media (max-width: 1460px) {
  .schedule {
    grid-template-columns: repeat(4, auto);
    row-gap: 25px;
  }
}
@media (max-width: 1024px) {
  .schedule {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 520px) {
  .schedule {
    grid-template-columns: auto;
  }
}
input[type=week],
input[type=date] {
  background-color: #128dff;
  border: 2px solid #ced3db;
  padding: 10px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

.homeworks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.homeworks__item {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  background-color: rgba(228, 228, 228, 0.6156862745);
  border: 2px solid #ced3db;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}
.homeworks__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: balance;
}
.homeworks__description {
  text-align: justify;
  text-wrap: balance;
  padding: 10px;
  border: 2px solid #ced3db;
  border-radius: 5px;
}
.homeworks__title {
  font-size: 18px;
  font-weight: bold;
}
.homeworks__date {
  font-style: italic;
  padding: 10px;
  border: 2px solid #ced3db;
  background-color: #7e96e6;
  color: white;
  border-radius: 5px;
}
.homeworks__note {
  padding: 10px;
  border: 2px solid #ced3db;
  border-radius: 5px;
}
.homeworks__files {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(245, 245, 245, 0.7607843137);
  border: 2px solid #ced3db;
  padding: 25px;
  border-radius: 10px;
}
.homeworks__files a {
  padding: 10px;
  background-color: rgba(228, 228, 228, 0.6156862745);
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}
.homeworks__files a:hover {
  transition: 0.2s ease-in-out;
  border: 2px solid #ced3db;
}

@media (max-width: 1024px) {
  .homeworks {
    grid-template-columns: repeat(1, 1fr);
  }
}
.custom-table-attendance {
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  position: relative;
}
.custom-table-attendance th,
.custom-table-attendance tr {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.custom-table-attendance tr {
  font-weight: 400;
}
.custom-table-attendance td {
  border: 1px solid #dddddd;
  position: relative;
  min-width: 50px;
}

.attendance-td {
  padding: 15px;
}

.attendance-icon {
  width: 70%;
  height: 70%;
}

.attendance-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.attendance-popup {
  display: flex;
  visibility: collapse;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
  z-index: 999;
}
.attendance-popup__arrow {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #e6e6e6;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.attendance-popup__content {
  padding: 10px;
}
.attendance-popup__row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid rgb(160, 160, 160);
}
.attendance-popup__row span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.attendance-popup__icon {
  width: 25px;
}

.custom-table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.custom-table tr {
  background-color: rgba(228, 228, 228, 0.6156862745);
  text-align: center;
  border-radius: 15px;
}
.custom-table tr th {
  padding: 15px;
  vertical-align: middle;
}
.custom-table tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.custom-table tr th:last-child {
  border-radius: 0 10px 10px 0;
}

.custom-alert {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ced3db;
  opacity: 0.9;
  padding: 15px 30px;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}
.custom-alert__icon {
  max-width: 50px;
}
.custom-alert__message {
  text-wrap: wrap;
  line-height: 1.3;
}
.custom-alert.hide {
  transition: 0.5s ease-in-out;
  opacity: 0;
}

@media (max-width: 530px) {
  .custom-alert {
    margin: 25px;
    justify-content: center;
  }
  .custom-alert__message {
    text-align: center;
  }
}
.close-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #364c70;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}

.close-btn::after,
.close-btn::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 15px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn:hover {
  background-color: #1e4178;
}

.spinner {
  width: 30px;
  height: 30px;
  align-self: center;
  animation: rotator 2s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.custom-btn {
  height: 40px;
  background-color: #1e4178;
  font-weight: bold;
  color: white;
  border: 2px solid #ced3db;
  border-radius: 5px;
  transition: 0.3s linear;
}
.custom-btn:hover {
  cursor: pointer;
  transition: 0.3s linear;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  background-color: #128dff;
}
.custom-btn_secondary {
  background-color: rgba(255, 255, 255, 0.3568627451);
  font-weight: bold;
  color: #364c70;
  padding: 10px 25px;
  border: 2px solid #ced3db;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
}
.custom-btn_secondary:hover {
  transition: box-shadow 0.2s ease-in-out;
  background-color: transparent;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}
.custom-btn_secondary:focus {
  outline: none;
}
.custom-btn_secondary:disabled {
  opacity: 0.4;
}

.custom-select {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.custom-select__btn {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 15px;
  color: #364c70;
  background-color: rgba(255, 255, 255, 0.2941176471);
  border: 2px solid #ced3db;
  border-radius: 5px;
  transition: all 0.2s linear;
  font-weight: 500;
}
.custom-select__btn_active {
  cursor: pointer;
  transition: all 0.2s linear;
  border-color: #128dff;
  color: #128dff;
}
.custom-select__btn_active .arrow {
  transition: 0.2s linear;
  transform: rotate(225deg);
  border-color: #128dff;
}
.custom-select__btn:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  border-color: #128dff;
  color: #128dff;
}
.custom-select__btn:hover .arrow {
  transition: 0.2s linear;
  border-color: #128dff;
}
.custom-select__title {
  font-size: 15px;
  padding-right: 10px;
}

.custom-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2941176471);
  border: 2px solid #ced3db;
  border-radius: 5px;
  padding: 0px 10px;
  overflow: hidden;
}
.custom-options_disabled {
  display: none;
}
.custom-options__item {
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 10px 10px 10px 15px;
  transition: 0.2s linear;
  color: #364c70;
  font-size: 15px;
}
.custom-options__item:not(:last-child) {
  border-bottom: 2px solid #ced3db;
}
.custom-options__item:hover {
  transition: 0.2s linear;
  cursor: pointer;
  color: white;
  background-color: #128dff;
}

.custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(228, 228, 228, 0.6156862745);
  border: 2px solid #ced3db;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.custom-checkbox:before {
  content: "";
  display: block;
}
.custom-checkbox:checked {
  background-color: #128dff;
}
.custom-checkbox:checked:before {
  width: 6px;
  height: 12px;
  position: absolute;
  left: 30%;
  top: 5%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-radioBtn {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #ced3db;
  border-radius: 50%;
  margin: 5px;
  transition: 0.2s linear;
  cursor: pointer;
}
.custom-radioBtn:checked::before {
  transition: 0.2s linear;
  background-color: #128dff;
}
.custom-radioBtn:checked {
  transition: 0.2s linear;
  border: 2px solid #128dff;
}

.custom-radioBtn::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-textArea {
  padding: 10px;
  border: 2px solid #ced3db;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit !important;
  color: #364c70;
  transition: 0.2s ease-in-out;
  background-color: rgba(228, 228, 228, 0.6156862745);
}
.custom-textArea:focus {
  outline: none;
  transition: 0.2s ease-in-out;
  border: 2px solid #128dff;
  color: #128dff;
}
.custom-textArea:focus::-moz-placeholder {
  color: #128dff;
}
.custom-textArea:focus::placeholder {
  color: #128dff;
}

input[type=file]::file-selector-button {
  border: #ced3db;
  background: #128dff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  opacity: 0.8;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #ced3db;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.drop-container:hover {
  background: rgba(236, 236, 236, 0.4196078431);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.add-file-input {
  border: 2px solid #ced3db;
  border-radius: 5px;
  padding: 10px;
  min-width: 350px;
}

.custom-input {
  height: 30px;
  padding: 5px 10px;
  background-color: transparent !important;
  border-radius: 5px;
  border: 2px solid #ced3db;
  transition: 0.2s ease-in-out;
  box-shadow: inset 20px 20px 0px 20px transparent;
}
.custom-input:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid #128dff;
  color: #128dff;
}
.custom-input:focus::-moz-placeholder {
  color: #128dff;
}
.custom-input:focus::placeholder {
  color: #128dff;
}
.custom-input_errored {
  border: 2px solid red;
  color: red;
}
.custom-input_errored::-moz-placeholder {
  color: red;
}
.custom-input_errored::placeholder {
  color: red;
}
.custom-input_errored:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid red;
  color: red;
}
.custom-input_errored:focus::-moz-placeholder {
  color: red;
}
.custom-input_errored:focus::placeholder {
  color: red;
}
.custom-input_correct {
  border: 2px solid rgb(12, 168, 12);
  color: rgb(12, 168, 12);
}
.custom-input_correct:focus {
  transition: 0.2s ease-in-out;
  border: 2px solid rgb(12, 168, 12);
  color: rgb(12, 168, 12);
}
.custom-input_correct:focus::-moz-placeholder {
  color: rgb(12, 168, 12);
}
.custom-input_correct:focus::placeholder {
  color: rgb(12, 168, 12);
}/*# sourceMappingURL=main.css.map */