/*IMPORTS*/
.wrapper {
  margin: 0px 15px;
  min-height: 100vh;
}

@media (max-device-width: 480px) {
  .wrapper {
    min-height: calc(100vh - 60px) !important;
  }
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.logotype {
  max-width: 120px;
}

.footer_sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;
}
.footer_sign-page__img {
  max-width: 50px;
}
.footer_sign-page__supportLink {
  text-align: center;
}
.footer_sign-page__copyright {
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
}

.modal-addItem {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.addItemForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f0f0f0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 45px;
  gap: 20px;
  border-radius: 10px;
  margin: 15px;
}

.login-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.login-form__img {
  align-self: center;
}
.login-form__title {
  align-self: center;
}
.login-form__recovery-password {
  align-self: center;
}

.wrapper_login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_recovery {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.reset-form-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 50vh;
  padding: 45px 5px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
}
.reset-form__img {
  align-self: center;
}
.reset-form__title {
  align-self: center;
}
.aside {
  border-right: 1px solid rgb(233, 233, 233);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
  gap: 30px;
}
.aside__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.aside-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.aside-menu-toggle {
  background-color: rgb(226, 226, 226);
  border-radius: 5px;
  padding: 5px 5px 2px 5px;
  cursor: pointer;
}
.aside-menu-toggle__img {
  width: 40px;
}

.aside-menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aside-menu__item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
  border: 2px solid transparent;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.aside-menu__item_active {
  border: 2px solid gray;
}
.aside-menu__icon {
  width: 30px;
}
.wrapper_dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0;
  background-color: #f5f5f5;
}

.dashboard-content-container {
  background-color: rgb(216, 225, 236);
  padding: 40px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .aside_closed {
    min-width: 50px;
    width: 50px;
  }
  .aside_closed .aside__header {
    justify-content: center;
  }
  .aside_closed .aside-logo {
    display: none;
  }
  .aside_closed .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside_closed .aside-menu-toggle__img {
    transform: scale(-1, 1);
  }
  .aside_closed .aside-menu__item span {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrapper_dashboard {
    grid-template-columns: auto;
    grid-template-rows: max-content;
  }
  .aside {
    padding: 20px 15px;
  }
  .aside {
    border-right: 0;
    border-bottom: 1px solid rgb(233, 233, 233);
    min-width: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .aside-menu__item {
    padding: 20px;
  }
  .aside-menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 5px;
  }
  .aside-menu-toggle__img {
    transform: rotate(90deg);
  }
  .aside_closed .aside-menu-toggle__img {
    transform: rotate(-90deg);
  }
  .aside_closed .aside-menu {
    display: none;
  }
}
@media (max-width: 230px) {
  .aside-menu-toggle {
    width: -webkit-fill-available;
  }
  .aside-logo {
    flex-direction: column;
  }
  .aside__header {
    flex-direction: column;
  }
  .aside-menu__item {
    justify-content: center;
  }
  .aside-menu__item span {
    display: none;
  }
}
.personal-account-info {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 15px;
}
.personal-account-info__block {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  border-radius: 10px;
  padding: 25px;
  gap: 15px;
}
.personal-account-info__avatar {
  background-color: rgb(199, 199, 199);
  border-radius: 50%;
  padding: 15px;
  width: -moz-max-content;
  width: max-content;
  align-self: center;
}
.personal-account-info__avatar img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.personal-account-info__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.personal-account-info__item img {
  width: 30px;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media-list__item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-media-list__item img {
  width: 30px;
}

.state-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0px;
}
.state-block__item {
  display: flex;
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  padding: 15px;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.courses-list__item {
  border: 2px solid rgb(218, 218, 218);
  border-radius: 10px;
  padding: 10px 15px;
}

@media (max-width: 1024px) {
  .personal-account-info {
    grid-template-columns: 1fr;
  }
}
.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.questions-item {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
}
.questions-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.questions-item__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.question-form__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .questions {
    grid-template-columns: 1fr;
  }
}
.search-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 600px) {
  .custom-table_student-list th:first-child,
  .custom-table_student-list th:last-child {
    display: table-cell;
  }
  .custom-table_student-list th:not(:first-child):not(:last-child) {
    display: none;
  }
}
.found-materials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.found-materials__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid rgb(138, 138, 138);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}
.found-materials__info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.found-materials__info_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.found-materials__btns {
  display: flex;
  gap: 10px;
}
.found-materials__btn img {
  cursor: pointer;
}
@media (max-width: 900px) {
  .found-materials {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 400px) {
  .found-materials__btns {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  .found-materials__info {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
}
label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.schedule {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-radius: 10px;
  gap: 5px;
}

.schedule-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.schedule-item__header {
  justify-content: space-between;
}
.schedule-item__header, .schedule-item__body {
  display: flex;
  padding: 15px;
  background: #f0f3f5;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 6px;
}
.schedule-item__body {
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
}
.schedule-item__event {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(223, 224, 219);
  border-radius: 6px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.schedule-item__event:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
@media (max-width: 1460px) {
  .schedule {
    grid-template-columns: repeat(4, auto);
    row-gap: 25px;
  }
}
@media (max-width: 1024px) {
  .schedule {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 520px) {
  .schedule {
    grid-template-columns: auto;
  }
}
.homeworks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.homeworks__item {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(250, 243, 235);
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}
.homeworks__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: balance;
}
.homeworks__description {
  text-align: justify;
  text-wrap: balance;
}
.homeworks__files {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .homeworks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .homeworks {
    grid-template-columns: 1fr;
  }
}
.custom-table-attendance {
  width: 100%;
  height: 30%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  position: relative;
}
.custom-table-attendance th,
.custom-table-attendance tr {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.custom-table-attendance tr {
  font-weight: 400;
}
.custom-table-attendance td {
  border: 1px solid #dddddd;
  position: relative;
  min-width: 50px;
}

.attendance-td {
  padding: 15px;
}

.attendance-icon {
  width: 70%;
  height: 70%;
}

.attendance-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.attendance-popup {
  display: flex;
  visibility: collapse;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e6e6e6;
  width: 180px;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 0.2s linear;
  z-index: 999;
}
.attendance-popup__arrow {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #e6e6e6;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.attendance-popup__content {
  padding: 10px;
}
.attendance-popup__row {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid rgb(160, 160, 160);
}
.attendance-popup__row span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.attendance-popup__icon {
  width: 25px;
}

.custom-table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.custom-table tr {
  background-color: rgb(211, 211, 211);
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.custom-table thead tr {
  cursor: default;
}
.custom-table tr th {
  padding: 15px;
  vertical-align: middle;
}
.custom-table tr th:first-child {
  border-radius: 10px 0 0 10px;
}
.custom-table tr th:last-child {
  border-radius: 0 10px 10px 0;
}/*# sourceMappingURL=main.css.map */