// Schedule table
.schedule {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-radius: 10px;
  gap: 5px;
}

#currentDateSpan {
  background-color: $back-color;
  border-radius: 5px;
  padding: 15px;
}

#search-filter {
  align-items: center;
}

.schedule-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    justify-content: space-between;
  }

  &__header,
  &__body {
    display: flex;
    padding: 15px;
    background: #ffffff6b;
    border: 2px solid $border-color;
    border-radius: 6px;
  }

  &__body {
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
  }

  &__event {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: $back-color;
    opacity: 0.9;
    border-radius: 6px;
    padding: 15px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__note {
    font-weight: 600;
  }

  &__place {
  }

  &__squad {
  }

  &__titmeline {
  }
}

@media (max-width: 1460px) {
  .schedule {
    grid-template-columns: repeat(4, auto);
    row-gap: 25px;
  }
}

@media (max-width: 1024px) {
  .schedule {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 520px) {
  .schedule {
    grid-template-columns: auto;
  }
}

input[type="week"],
input[type="date"] {
  background-color: $primary-color;
  border: 2px solid $border-color;
  padding: 10px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 3px;
}

@media (max-width: 768px) {
  input[type="week"],
  input[type="date"] {
    width: 100%;
  }

  .arrow_left {
    transform: rotate(-135deg);
  }

  .arrow_right {
    transform: rotate(45deg);
  }

  .schedule-item__body {
    min-height: fit-content;
  }
}
