.search-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;

  &__filter {
    &_courses {
    }

    &_student-groups {
    }
  }

  &__btn {
    min-width: 140px;
    padding: 10px 40px !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: inline-block;
      background-image: url("../../icons/common-icons/search-icon.svg");
      background-size: cover;
    }
  }
}
