.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.questions-item {
  background-color: $back-color;
  border: 2px solid $border-color;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
  transition: border 0.2s ease-in-out;

  &_active {
    border: 2px solid $primary-color;
    transition: border 0.2s ease-in-out;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  &__title {
    font-weight: 600;
    line-height: 1.5;
  }

  &__toggle-btn {
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    line-height: 1.5;
  }
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__btn {
  }
}

@media (max-width: 768px) {
  .questions {
    grid-template-columns: 1fr;
  }
}
