.wrapper {
  margin: 0px 15px;
}

.title {
  
}

.logotype {
  max-width: 120px;
}

.footer_sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 25px 0px;
  
  &__img {
    max-width: 50px;
  }

  &__supportLink {
    text-align: center;
  }

  &__copyright {
    text-align: center;
  }
}