@{
    ViewData["Title"] = "Домашняя страница";
    Layout = "_DashboardLayout";
}

<style>
    .chart {
        width: 100%;
        min-height: 450px;
        border-radius: 5px;
    }

    .row {
        margin: 0 !important;
    }

    #charts-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
</style>

<main class="main dashboard-content-container">
    <h1 class="title">Аналитика</h1>
    <div class="charts" id="charts-container">
        <div id="chart_div1" class="chart"></div>
        <div id="chart_div2" class="chart"></div>
        <div id="pieChart" class="chart style="min-height: 600px;"></div>
    </div>
</main>
<script src="../js/outerJS/googleCharts.js"></script>
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart1);
    function drawChart1() {
        var data = google.visualization.arrayToDataTable([
            ['Год', 'Коэффициент от 1 до 5'],
            ['Январь', 4.5],
            ['Февраль', 4],
            ['Март', 5],
            ['Апрель', 3.5],
            ['Май', 3],
            ['Июнь', 4.5],
            ['Июль', 4.5],
            ['Август', 4.5],
            ['Сентябрь', 5],
            ['Октябрь', 5],
            ['Ноябрь', 3.2],
            ['Декабрь', 4.8],
        ]);

        var options = {
            title: 'Динамика посещаемости студентов',
            hAxis: { title: 'Месяц' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
    }

    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart2);
    function drawChart2() {
        var data = google.visualization.arrayToDataTable([
            ['Год', 'Среднее кол-во студентов', 'Среднее кол-во учебных часов'],
            ['2019', 120, 80],
            ['2020', 140, 82],
            ['2021', 105, 85],
            ['2022', 160, 110],
            ['2023', 170, 120],
            ['2023', 200, 130],
        ]);

        var options = {
            title: 'Динамика студентов доп.образования',
            hAxis: { title: 'Год', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
    }

    // pie chart data
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart3);
    function drawChart3() {
        // Set Data
        const data = google.visualization.arrayToDataTable([
            ['Курсы', 'Проценты'],
            ['Веб-дизайн', 20.6],
            ['Робототехника', 18.6],
            ['Английский язык в ПП', 16.6],
            ['C# программирование', 8.9],
            ['C++ программирование', 4.8],
            ['Программирование микросхем', 8.9],
            ['Подготовка к ЕГЭ по информатике', 8.9],
        ]);

        // Set Options
        const options = {
            title: 'Количество студентов на различных курсах'
        };

        // Draw
        const chart = new google.visualization.PieChart(document.getElementById('pieChart'));
        chart.draw(data, options);
    }
</script>